[Desktop Entry]
Name=Exegol Hackthebox Academy
Exec=bash "/home/ritelg/Cybersecurity/scripts/exegol-hackthebox-academy.sh"
Type=Application
Terminal=false
Icon=utilities-terminal
Categories=Utility;

