[Desktop Entry]
Name=Intellij idea
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/home/ritelg/tools/intellij/bin/idea.sh
Icon=/home/ritelg/tools/intellij/bin/idea.png
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=intellij;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/home/ritelg/tools/intellij/bin/idea.sh
Icon=/home/ritelg/tools/intellij/bin/idea.png
