[Desktop Entry]
Name=PhpStorm
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/home/ritelg/tools/PhpStorm/bin/phpstorm.sh
Icon=/home/ritelg/tools/PhpStorm/bin/phpstorm.png
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=PhpStorm;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/home/ritelg/tools/PhpStorm/bin/phpstorm.sh
Icon=/home/ritelg/tools/PhpStorm/bin/phpstorm.png
